
<h1>Your Current Queue</h1>

<ul>
  <% @@tmdb.movie.each do |movie| %>
  <li> <a href="<%= '/movie/' + movie.id.to_s %>">
  <%= movie.title %> <%= movie.year %> <%= movie.genre %> <%= movie.priority %>
</a>
  </li>
  <% end %> 

</ul>