<div class="show-movie">
  <p>Title: <%= @movie.title %></p>
  <p>Year: <%= @movie.year %></p>
  <p>Genre: <%= @movie.genre %></p>
  <p>Viewing Priority: <%= @movie.priority %></p>

</div>

<form action="/movie/<%= @movie.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name ="Delete Movie" value="delete">

</form>